<!-- proposal.hbs-->
<h1>{{proposal.name}}</h1>
<h2>Overview</h2>
<p>{{proposal.overview}}</p>

<h2>Data Model</h2>
<p>This app stores users, settings, lists, tasks and tags.</p>

<h3>Sample User</h3>
<pre><code>{{{json proposal.dataModel.sampleDocuments.user}}}</code></pre>

<h3>Sample Settings</h3>
<pre><code>{{{json proposal.dataModel.sampleDocuments.settings}}}</code></pre>

<h3>Sample List</h3>
<pre><code>{{{json proposal.dataModel.sampleDocuments.list}}}</code></pre>

<h3>Sample Task</h3>
<pre><code>{{{json proposal.dataModel.sampleDocuments.task}}}</code></pre>

<h3>Sample Tag</h3>
<pre><code>{{{json proposal.dataModel.sampleDocuments.tag}}}</code></pre>
